@media (min-width: 992px) {
	.hamburger {
		display: none;
	}

	.nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		&__links-ul {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
		}
	}
}
