@media (min-width: 992px) {
	.hamburger {
		display: none;
	}

	.nav {
		&__container {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		&__links {
			display: flex;
		}

		&__links-ul {
			flex-direction: row;
			justify-content: flex-end;
		}
	}

	.header {
		background-image: url(../img/header-big.jpg);
		&__heading {
			font-size: 5rem;
		}
		&__text {
			font-size: 1.5rem;
		}
	}

	.about {
		&__box {
			flex-direction: row;
			justify-content: space-between;
		}
		&__box-img {
			&--right {
				order: 1;
			}
		}
		&__box-text {
			width: 70%;
			&--right {
				text-align: right;
			}
		}
		&__title {
			font-size: 2rem;
		}
	}

	.hero-img {
		background-image: url(../img/hero-img-big.jpg);
		&__heading {
			font-size: 5rem;
		}
		&__text {
			font-size: 1.5rem;
		}
	}

	.menu {
		margin: 2em;
		&__cards {
			display: flex;
			justify-content: space-between;
		}
	}

	.reviews {
		&__heading {
			font-size: 3rem;
		}
		&__box {
			padding: 4em;
		}
		&__text {
			font-size: 1.5rem;
			&--strong {
				font-size: 2rem;
			}
			&--mini {
				font-size: 1rem;
			}
		}
	}
	.hero-img2 {
		background-image: url(../img/hero-img2-big.jpg);
		&__heading {
			font-size: 5rem;
		}
		&__text {
			font-size: 1.5rem;
		}
	}

	.gallery{
		&__img{
			margin: 1em;
		}
	}
}
