@media (min-width: 768px){
    .hero-img{
        &__heading{
            font-size: 5rem;
        }
        &__text{
            font-size: 1.2rem;
        }
    }

    .nav{
        &__box-logo {
            width: 3em;;
        }
        &__box-header{
            margin-left: 0.3em;
            font-size: 4rem;
        }
        &__links-li{
            font-size: 2rem;
        }
    }
}