@import './colors';
@import './components';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62, 5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
}

// HAMBURGER

.hamburger {
	position: absolute;
	top: 0.75rem;
	right: 1rem;

	&-inner,
	&-inner::before,
	&-inner::after {
		background-color: $white;
		z-index: 10000;
	}
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
	background-color: $white;
}

// NAVIGATION
.nav {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: $first-color;
	color: white;

	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__box-logo {
		left: 0;
		width: 3em;
	}

	&__box-header {
		font-size: 3rem;
		margin-left: 0.5em;
		color: $white;
	}

	&__links {
		display: none;
		width: 100%;
	}
	&__links-ul {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	&__links-li {
		list-style: none;
		text-align: center;
	}

	&__links-a {
		display: block;
		padding: 0.5em;
		text-decoration: none;
		color: white;
	}
}

.active {
	display: flex;
}

// MEDIA QUERIES
@import './large';
